@font-face {
  font-family: "OpenType";
  src: url("../fontes/idroid.otf") format("OpenType");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #84e1ad;
}

.page {
  margin: 0 auto;
}

header {
  text-align: center;
  color: white;
  background-image: linear-gradient(to top, #134429, #3bd17f);
  font-size: 10px;
  padding: 10px;
  box-shadow: 0px 10px 30px black;
}

h1 {
  font-size: 30px;
  transform: scaleY(1.6);
  padding: 10px 0;
}

h3 {
  background-image: linear-gradient(to right, #90ee9093, white);
}

h2,
h3 {
  color: darkgreen;
  font-family: "OpenType";
}

h1,
nav {
  opacity: 90%;
}

p {
  opacity: 60%;
  font-size: 21px;
  padding-bottom: 20px;
}

nav {
  display: flex;
  list-style-type: none;
  gap: 15px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 80%;
}

span > a {
  opacity: 100%;
  color: #134429;
}

.image {
  width: 16px;
  margin-left: 5px;
}

.image-center {
  display: flex;
  justify-content: center;
}

#image-bots {
  width: 100%;
}

#image-irina-blok {
  width: 100%;
}

main {
  background-color: white;
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 5px 5px 20px black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

main > p,
div > p {
  opacity: 100%;
  font-size: 16px;
  padding-bottom: 0;
  text-align: justify;
  text-indent: 30px;
}

#video {
  aspect-ratio: 16 / 9;
}

iframe {
  height: 70vh;
  width: 100%;
  height: 100%;
  border: 40px solid #1a5c38;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.box {
  border-radius: 10px;
  background-color: #c5ebd6;
}

.box__heading {
  border-radius: 10px 10px 0 0;
  background-color: #2fa866;
  color: white;
}

.box__heading,
.box__text {
  padding: 10px;
}

.destaque {
  color: #134429;
  font-weight: bold;
}

.box__list {
  display: flex;
  justify-content: center;
}

.list-version {
  list-style-image: url("../imagens/25404.png");
}

.list-link {
  color: black;
}

.list-link:hover {
  text-decoration: underline;
  opacity: 100%;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
    width: 100%;
  }

  img {
    width: 100%;
  }

  #video {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: 20px solid #1a5c38;
  }
}

@media screen and (max-width: 544px) {
  .page {
    max-width: 544px;
    width: 100%;
  }

  main {
    padding: 10px;
  }

  img {
    width: 100%;
  }

  #image-bots {
    content: url("../imagens/dan-droids-pq.png");
    width: 100%;
  }

  #image-irina-blok {
    content: url("../imagens/irina-blok-pq.jpg");
    width: 100%;
  }

  #video {
    width: 100%;
    aspect-ratio: 5 / 3;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .image-center {
    width: 100%;
  }
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

footer > p {
  opacity: 100%;
  margin: 5px;
  padding: 0;
}

.footer-link {
  
}